.activityCard {
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    border-width 0.2s ease;
  background-color: var(--mantine-primary-color-6);
  color: var(--mantine-color-gray-3);
  border: 1px solid var(--mantine-primary-color-7);
}

.activityCard:hover {
  border-color: var(--mantine-color-blue-5);
  border-width: 1px;
}

.activityCardSelected {
  border-color: var(--mantine-color-green-5) !important;
  border-width: 2px !important;
}

.activityCardSelected:hover {
  border-color: var(--mantine-color-red-5) !important;
}
